*{
    margin:0;
    padding: 0;
}
  
.navbrand {
    height: 6rem;
}
  
.text-color {
    font-weight: 500;
    color: rgba(243, 66, 19, 0.8)!important;
}

body{
    background: #FFFFA3;
}

.cadastro{
    background-color: #FFFFA3;
    padding: 100px;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bloco{
    padding: -10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;

}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

.bloco1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.bloco2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
}

.button{
    margin-left: 600px;
    background-color: #F34213 !important;
    font-size: 80%;
    color: white;
    border-radius: 5rem;
    border-color: #F34213 !important;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 10px;
    opacity: 0.7;
    transition: all 0.2s;
}

.input-mensagem-erro{
    display: none;
}

.form-group-erro .input-mensagem-erro{
    display: block;
}

.footer-config {
    background-color: #FFFFFF;
    border-top: 1px solid rgba(243, 66, 19);
    box-shadow: 0px -6px 17px 1px rgba(255,214,120,0.74);
}

