*{
    margin:0;
    padding: 0;
}
  
.navbrand {
    height: 6rem;
}
  
.text-color {
    font-weight: 500;
    color: rgba(243, 66, 19, 0.8)!important;
}

body{
    background: #FFFFA3;
}

.input-mensagem-erro{
    display: none;
}

.form-group-erro .input-mensagem-erro{
    display: block;
}

.footer-config {
    background-color: #FFFFFF;
    border-top: 1px solid rgba(243, 66, 19);
    box-shadow: 0px -6px 17px 1px rgba(255,214,120,0.74);
}