form{


   width: 400px;
   padding: 40px;
   margin: auto;
   background-color: #7F6E33;
   border-radius: 10px;


}

.botaoLog{

   
    margin-top: 20px;
    padding: 6px;
    margin-bottom: 10px;
    width: 319px;
    border-radius: 5px;
    box-sizing: border-box;


}



.checarImput_1{

    margin-left: 2px;
}

.esqueceuSenha{


    margin-left: 55px;
    text-decoration: none;
    color: white;
}

.textLab{


    text-align: center;
    margin-top: 100px;
    font-size: 25px;
}

