form {
   padding: 2rem;
   margin: auto;
   background-color: #FFFFFF;
   border: 2px solid #F34213;
   border-radius: 5px;
}

.botaoLog {   
    margin-top: 20px;
    padding: 6px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.checarInput_1 {
    margin-left: 2px;
}

.esqueceuSenha {
    margin-left: 55px;
    text-decoration: none;
    color: #F34213;
}


.display-5 {
    color: #F34213;
}

.altura-main {
    height: 70vh;
}

.botao:hover{
    background-color:white;
    border-color: #F34213;
    opacity: 0.7;
}

.botao {
    background-color: #F34213 !important;
    font-size: 80%;
    border-radius: 5rem;
    border-color: #F34213 !important;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 1;
    transition: all 0.2s;
    width: 150px;   
}


