.navbrand {
  height: 6rem;
}

.p {
  text-align: center;
}

main{
  background: #FFFFA3;
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 2rem;
  color: #231C07;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.fas {
  color: #634133;
}

.fab {
  color: #231C07;
  font-size: 1.8rem;
}

.card ul li {
  font-weight: 500;
}
  
.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  background-color: #F34213 !important;
  font-size: 80%;
  border-radius: 5rem;
  border-color: #F34213 !important;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

.footer-config {
  background-color: #FFFFFF;
  border-top: 1px solid rgba(243, 66, 19);
  box-shadow: 0px -6px 17px 1px rgba(255,214,120,0.74);
}

.display-5, .display-6 {
  color: #F34213;
}

.accordion {
  background-color: #FFFFFF;
  border: 1px solid rgba(243, 66, 19);
}

  /* Hover Effects on Card */
  
@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .pricing .card:hover .btn {
    background-color: #ca3b13 !important;
    border-color: #ca3b13 !important;
    opacity: 1;
  }
}
