.form-group--invalido {
    margin-bottom: 0.5rem;
}

.form-group--invalido .input {
    border: 1px solid var(--cor-aviso);
    border-radius: 7px;
}

.form-group--invalido .input-label {
    color: var(--cor-aviso);
}

.form-group-erro {
    display: none;
}

.form-group--invalido .input-mensagem-erro {
    color: var(--cor-aviso);
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}